.main_container {
    display: flex;
    flex-direction: column;
}
.title {
    margin: auto;
}
 .container{
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: center;
    margin: 0 auto;
    left: 40%;
    top:10%;
    position: fixed;
}

.button{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    margin-top: 10px;
    height: 5vh;
    width: 100%;
    cursor: pointer;
}

.text{
    border: 1px solid black;
    margin-top: 10px;
    height: 5vh;
    border-radius: 5px;
}

::placeholder {
    padding-left: 10px; 
    font-size: 1em;
  } 

   /* Set the size of the div element that contains the map */
   #map {
    height: 500px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
   

   .passengers{
       width: 50px;
       height: 50px;
   }
.center {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
}
